# Storage & Temporary files
storage/temp/*
!storage/temp/.gitkeep
migrator_package.zip
migrator_database.sql
.migrator_lock.php
*.sql
*.zip
*.tar.gz
*.log

# OS & Editor files
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
